.container {
  width: 100%;
  background-color: #2d2d34;
  color: #f1e4e8;

  text-align: center;
  margin: 1vh 0 1vh 0;
  border-bottom: #e2dcde8c 1px solid;
  & p:hover {
    color: #ff9b9f;
    cursor: pointer;
  }
  & p {
    font-size: 1.5em;
  }
}

.container:nth-child(1):hover {
  color: rgba(255, 255, 255, 0.432);
}
